<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lisää auto</title>
</head>
<header>
    <div class="container">
        <div>Lisää auto</div>
        
      </div>
    </header>
</header>
<body>
    <div class="container">
        <h2>Lisää auto</h2>
        <form>
          <div class="form-group">
            <label for="name">Merkki</label>
            <input type="text" name="name" id="name" />
          </div>
          <div class="form-group">
            <label for="email">Malli</label>
            <input type="email" name="email" id="email" />
          </div>
          <div class="form-group">
            <label for="message">Vuosimalli</label>
            <textarea name="message" id="message"></textarea>
          </div>
          <div class="form-group">
            <label for="message">Omistaja</label>
            <textarea name="message" id="message"></textarea>
          </div>
          <button type="submit">Lähetä</button>
        </form>

      </div>
    
</body>

</html>